#shop-now:hover
{
    cursor: pointer;
}
#image
{
    width: 200px;
    height: 100px;
    max-width: auto;
    max-height: auto;
}
h4
{
    font-family: Arial, Helvetica, sans-serif;
}
h1
{
    .bebas-neue-regular
    {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 1000;
        font-style: normal;
    }  
}
/* .card
{
    display: flex;
    box-shadow: 2px 2px 4px ;
}
.container
{
    box-shadow: 2px 2px 4px;
} */

#welcome
{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: xx-large;
}
#intro
{
    font-family: "Acme", sans-serif;
    font-weight: 400;
}

#health
{
    font-family: "Acme", sans-serif;
    font-size: 1.3rem;
}

@media (min-width: 992px)
{
    /* #header
    {
        display: flexbox;
        align-items: center;
        left: 12px;
        position:absolute;
    } */
    /* #carouselcard
    {
        display: flex;
        align-items: center;
        position:relative;
        

    }
    #carousel
    {
        height: 225px;
        width: 200px;
    }
    #carouselimg
    {
        height: 225px;
        width: 200px;
    } */
}


.wrapper
{
    margin:3vh;
}

.card{
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow:hidden;
    border-radius:20px;
    min-height:450px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);

    @media (max-width: 768px) {
    min-height:350px;
}

@media (max-width: 420px) {
    min-height:300px;
}

&.card-has-bg{
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size:120%;
    background-repeat:no-repeat;
    background-position: center center;
    
    &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
}

  &:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
    background-size:130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}
 .card-footer{
  background: none;
   border-top: none;
 }
.turtle,
.hamster
 {
    width: 45px;
 }
  .card-title{font-weight:800}
 .card-meta{color:rgba(0,0,0,0.3);
  text-transform:uppercase;
   font-weight:500;
   letter-spacing:2px;}
 .card-body{ 
   transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
 &:hover {
   .card-body{
     margin-top:30px;
     transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
   }
 cursor: pointer;
 transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
 .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
 background: rgb(255, 255, 255);
background: linear-gradient(0deg, rgba(114, 105, 86, 0.379) 0%, rgba(172, 172, 172, 0.078) 100%);
}
}
@media (max-width: 767px){
  
}

#category-circle
{
    width: 20vh;
    height: 20vh;
}
#category-circle:hover
{
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: scale(1.15);
    #category-title
    {
        margin: 5px;
    }
}
#category-title
{
    color: #b40404;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    top: 3px;
    font-size: larger;
}
section
{
    overflow-x: hidden;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    cursor: pointer;
}

#home-banner:hover,
#carousel-banner:hover
{
    cursor: pointer;
}

/* FAILURE MODAL */

/* .modal-confirm {		
	color: #000000;
	width: 325px;
} */


/* .modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
} */


.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
    font-weight: 750;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
/* .modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	 */
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}	
.modal-confirm .success-icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #11c371;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .success-icon-box i {
	font-size: 56px;
	position: relative;
	top: 4px;
}
.modal-confirm .exists-icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #2900f7;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .exists-icon-box i {
	font-size: 56px;
	position: relative;
	top: 4px;
}
.modal-confirm .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #b40404;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
	font-size: 56px;
	position: relative;
	top: 4px;
}
.modal-confirm.modal-dialog {
	margin-top: 200px;
}
.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #b40404;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #da2c12;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}
